@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .react-select [type="text"]:focus {
    --tw-ring-shadow: 0 0 #000 !important;
  }
}

.location-search-input{
  width: 100%;
  margin-bottom: 20px;
}

.suggestion-item--active{
  position: relative;
  z-index: 9999;
}